%h1 
  Details of
  = '"' + @collection.name + '"'
  
= link_to "add monument", add_monument_path(collection_id: @collection.id), class: "button success radius"
= link_to "delete collection", @collection, method: :delete, class: "button alert radius"
  

- unless @collection.monuments.empty?
  = render "monuments/monument_list", monuments: @collection.monuments