%h1 Editing monument

-if @monument.step == 1
  = render 'monuments/form1'
- elsif @monument.step == 2
  = render 'monuments/form2'
- elsif @monument.step == 3
  = render 'monuments/overview'
= link_to 'back', monuments_path